{% load static %}
<!doctype html>
<html class="no-js" lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login - srtdash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'simple_admin/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'simple_admin/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'simple_admin/assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'simple_admin/assets/css/metisMenu.css' %}">
    <link rel="stylesheet" href="{% static 'simple_admin/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'simple_admin/assets/css/slicknav.min.css' %}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css' %}" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{% static 'simple_admin/assets/css/typography.css' %}">
    <link rel="stylesheet" href="{% static 'simple_admin/assets/css/default-css.css' %}">
    <link rel="stylesheet" href="{% static 'simple_admin/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'simple_admin/assets/css/responsive.css' %}">
    <!-- modernizr css -->
    <script src="{% static 'simple_admin/assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area login-s2">
        <div class="container">
            <div class="login-box ptb--100">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="login-form-head">
                        <img src="{% static 'images/black_logo.png' %}" class="w-50" alt="">
                        <h4>Авторизация</h4>
                        <p>Здравствуйте! Войдите в систему администратора.</p>
                    </div>
                    <div class="login-form-body">
                        <div class="form-gp">
                            <label for="exampleInputEmail1">Имя пользователя</label>
                            <input type="text" name="username" id="exampleInputEmail1" required>
                            <i class="ti-user"></i>
                            <div class="text-danger"></div>
                        </div>
                        <div class="form-gp">
                            <label for="exampleInputPassword1">Пароль</label>
                            <input type="password" name="password" id="exampleInputPassword1" required>
                            <i class="ti-lock"></i>
                        </div>
              
                        <div class="submit-btn-area">
                            <button id="form_submit" type="submit">Войти <i class="ti-arrow-right"></i></button>
                        </div>
                        <div class="text-danger py-3 text-center">
                            {% if messages %}
                                {% for message in messages %}
                                    <i class="fa fa-info-circle"></i> {{ message }}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->

    <!-- jquery latest version -->
    <script src="{% static 'simple_admin/assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
    <!-- bootstrap 4 js -->
    <script src="{% static 'simple_admin/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'simple_admin/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'simple_admin/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'simple_admin/assets/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'simple_admin/assets/js/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'simple_admin/assets/js/jquery.slicknav.min.js' %}"></script>
    
    <!-- others plugins -->
    <script src="{% static 'simple_admin/assets/js/plugins.js' %}"></script>
    <script src="{% static 'simple_admin/assets/js/scripts.js' %}"></script>
</body>

</html>